debian/*.log
debian/*.substvars
esp32

debian/.debhelper/
debian/alksesp32/
debian/coreesp32/
debian/cw02/
debian/d32-pro/
debian/d32/
debian/esp32-evb/
debian/esp32-gateway/
debian/esp32-generic/
debian/esp320/
debian/esp32doit-devkit-v1/
debian/esp32thing/
debian/esp32vn-iot-uno/
debian/esp32wrover/
debian/espea32/
debian/espectro32/
debian/espino32/
debian/featheresp32/
debian/files
debian/firebeetle32/
debian/heltec-wifi-kit-32/
debian/heltec-wifi-lora-32/
debian/hornbill32dev/
debian/hornbill32minima/
debian/intorobot-fig/
debian/libarduinoota-esp32/
debian/libasyncudp-esp32/
debian/libazureiot-esp32/
debian/libble-esp32/
debian/libbluetoothserial-esp32/
debian/libdnsserver-esp32/
debian/libeeprom-esp32/
debian/libesp32-esp32/
debian/libespmdns-esp32/
debian/libffat-esp32/
debian/libfs-esp32/
debian/libhttpclient-esp32/
debian/libnetbios-esp32/
debian/libpreferences-esp32/
debian/libsd-esp32/
debian/libsd-mmc-esp32/
debian/libsimpleble-esp32/
debian/libspi-esp32/
debian/libspiffs-esp32/
debian/libticker-esp32/
debian/libupdate-esp32/
debian/libwebserver-esp32/
debian/libwifi-esp32/
debian/libwificlientsecure-esp32/
debian/libwire-esp32/
debian/lolin32/
debian/m5stack-core-esp32/
debian/m5stack-fire/
debian/mhetesp32devkit/
debian/mhetesp32minikit/
debian/nano32/
debian/nina-w10/
debian/node32s/
debian/nodemcu-32s/
debian/odroid-esp32/
debian/onehorse32dev/
debian/pico32/
debian/pocket-32/
debian/quantum/
debian/ttgo-lora32-v1/
debian/wemosbat/
debian/widora-air/
debian/wipy3/

