Source: esp32
#Section: cores
Section: main
Priority: extra
Maintainer: Matt Jenkins <matt@majenko.co.uk>
XBSC-TieCore: esp32
XBSC-Family: esp32
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: esp32
#Section: cores
Architecture: all
XBSC-Group: Cores
XBSC-Subgroup: ESP32
Depends: esptool-esp32, xtensa-esp32-elf
Recommends: libarduinoota-esp32, libasyncudp-esp32, libazureiot-esp32, libble-esp32, libbluetoothserial-esp32, libdnsserver-esp32, libeeprom-esp32, libesp32-esp32, libespmdns-esp32, libfs-esp32, libhttpclient-esp32, libnetbios-esp32, libpreferences-esp32, libsd-esp32, libsd-mmc-esp32, libsimpleble-esp32, libspi-esp32, libspiffs-esp32, libticker-esp32, libupdate-esp32, libwebserver-esp32, libwifi-esp32, libwificlientsecure-esp32, libwire-esp32
Description: ESP32 Arduino Compatability

Package: libarduinoota-esp32
#Section: libraries
Architecture: all
XBSC-Group: Libraries
XBSC-Subgroup: Communications
XBSC-Subsubgroup: Protocols
Depends: esp32
Provides: ArduinoOTA.h
Description: ArduinoOTA library

Package: libasyncudp-esp32
#Section: libraries
Architecture: all
XBSC-Group: Libraries
XBSC-Subgroup: Communications
XBSC-Subsubgroup: Networking
Depends: esp32
Provides: AsyncUDP.h
Description: AsyncUDP library

Package: libazureiot-esp32
#Section: libraries
Architecture: all
XBSC-Group: Libraries
XBSC-Subgroup: Communications
XBSC-Subsubgroup: Networking
Depends: esp32
Provides: AzureIoT.h
Description: AzureIoT library

Package: libble-esp32
#Section: libraries
Architecture: all
XBSC-Group: Libraries
XBSC-Subgroup: Communications
XBSC-Subsubgroup: Protocols
Depends: esp32
Provides: BLE.h
Description: BLE library

Package: libbluetoothserial-esp32
#Section: libraries
Architecture: all
XBSC-Group: Libraries
XBSC-Subgroup: Communications
XBSC-Subsubgroup: Serial
Depends: esp32
Provides: BluetoothSerial.h
Description: BluetoothSerial library

Package: libdnsserver-esp32
#Section: libraries
Architecture: all
XBSC-Group: Libraries
XBSC-Subgroup: Communications
XBSC-Subsubgroup: Networking
Depends: esp32
Provides: DNSServer.h
Description: DNSServer library

Package: libeeprom-esp32
#Section: libraries
Architecture: all
XBSC-Group: Libraries
XBSC-Subgroup: Storage
XBSC-Subsubgroup: EEPROM
Depends: esp32
Provides: EEPROM.h
Description: EEPROM library

Package: libesp32-esp32
#Section: libraries
Architecture: all
XBSC-Group: Libraries
XBSC-Subgroup: BoardSupport
Depends: esp32
Provides: ESP32.h
Description: ESP32 library

Package: libespmdns-esp32
#Section: libraries
Architecture: all
XBSC-Group: Libraries
XBSC-Subgroup: Communications
XBSC-Subsubgroup: Networking
Depends: esp32
Provides: ESPmDNS.h
Description: ESPmDNS library

Package: libfs-esp32
#Section: libraries
Architecture: all
XBSC-Group: Libraries
XBSC-Subgroup: Storage
Depends: esp32
Provides: FS.h
Description: FS library

Package: libhttpclient-esp32
#Section: libraries
Architecture: all
XBSC-Group: Libraries
XBSC-Subgroup: Communications
XBSC-Subsubgroup: Networking
Depends: esp32
Provides: HTTPClient.h
Description: HTTPClient library

Package: libnetbios-esp32
#Section: libraries
Architecture: all
XBSC-Group: Libraries
XBSC-Subgroup: Communications
XBSC-Subsubgroup: Networking
Depends: esp32
Provides: NetBIOS.h
Description: NetBIOS library

Package: libpreferences-esp32
#Section: libraries
Architecture: all
XBSC-Group: Libraries
XBSC-Subgroup: Storage
Depends: esp32
Provides: Preferences.h
Description: Preferences library

Package: libsd-esp32
#Section: libraries
Architecture: all
XBSC-Group: Libraries
XBSC-Subgroup: Storage
XBSC-Subsubgroup: SD and MMC
Depends: esp32
Provides: SD.h
Description: SD library

Package: libsd-mmc-esp32
#Section: libraries
Architecture: all
XBSC-Group: Libraries
XBSC-Subgroup: Storage
XBSC-Subsubgroup: SD and MMC
Depends: esp32
Provides: SD-UL-MMC.h
Description: SD MMC library

Package: libsimpleble-esp32
#Section: libraries
Architecture: all
XBSC-Group: Libraries
XBSC-Subgroup: Communications
XBSC-Subsubgroup: Protocols
Depends: esp32
Provides: SimpleBLE.h
Description: SimpleBLE library

Package: libspi-esp32
#Section: libraries
Architecture: all
XBSC-Group: Libraries
XBSC-Subgroup: Communications
XBSC-Subsubgroup: SPI
Depends: esp32
Provides: SPI.h
Description: SPI library

Package: libspiffs-esp32
#Section: libraries
Architecture: all
XBSC-Group: Libraries
XBSC-Subgroup: Storage
Depends: esp32
Provides: SPIFFS.h
Description: SPIFFS library

Package: libffat-esp32
Architecture: all
XBSC-Group: Libraries
XBSC-Subgroup: Storage
Depends: esp32
Provides: FFat.h
Description: FFat Library

Package: libticker-esp32
#Section: libraries
Architecture: all
XBSC-Group: Libraries
XBSC-Subgroup: Time
XBSC-Subsubgroup: Timers
Depends: esp32
Provides: Ticker.h
Description: Ticker library

Package: libupdate-esp32
#Section: libraries
Architecture: all
XBSC-Group: Libraries
XBSC-Subgroup: BoardSupport
Depends: esp32
Provides: Update.h
Description: Update library

Package: libwebserver-esp32
#Section: libraries
Architecture: all
XBSC-Group: Libraries
XBSC-Subgroup: Communications
XBSC-Subsubgroup: Networking
Depends: esp32
Provides: WebServer.h
Description: WebServer library

Package: libwifi-esp32
#Section: libraries
Architecture: all
XBSC-Group: Libraries
XBSC-Subgroup: Communications
XBSC-Subsubgroup: Networking
Depends: esp32
Provides: WiFi.h
Description: WiFi library

Package: libwificlientsecure-esp32
#Section: libraries
Architecture: all
XBSC-Group: Libraries
XBSC-Subgroup: Communications
XBSC-Subsubgroup: Networking
Depends: esp32
Provides: WiFiClientSecure.h
Description: WiFiClientSecure library

Package: libwire-esp32
#Section: libraries
Architecture: all
XBSC-Group: Libraries
XBSC-Subgroup: Communications
XBSC-Subsubgroup: I2C
Depends: esp32
Provides: Wire.h
Description: Wire library

Package: alksesp32
Architecture: all
XBSC-Group: Boards
XBSC-Subgroup: ESP32
Depends: esp32
Description: ALKS ESP32

Package: coreesp32
Architecture: all
XBSC-Group: Boards
XBSC-Subgroup: ESP32
Depends: esp32
Description: Microduino-CoreESP32

Package: cw02
Architecture: all
XBSC-Group: Boards
XBSC-Subgroup: ESP32
Depends: esp32
Description: XinaBox CW02

Package: d32
Architecture: all
XBSC-Group: Boards
XBSC-Subgroup: ESP32
Depends: esp32
Description: LOLIN D32

Package: d32-pro
Architecture: all
XBSC-Group: Boards
XBSC-Subgroup: ESP32
Depends: esp32
Description: LOLIN D32 PRO

Package: esp320
Architecture: all
XBSC-Group: Boards
XBSC-Subgroup: ESP32
Depends: esp32
Description: Electronic SweetPeas - ESP320

Package: esp32doit-devkit-v1
Architecture: all
XBSC-Group: Boards
XBSC-Subgroup: ESP32
Depends: esp32
Description: DOIT ESP32 DEVKIT V1

Package: esp32-evb
Architecture: all
XBSC-Group: Boards
XBSC-Subgroup: ESP32
Depends: esp32
Description: OLIMEX ESP32-EVB

Package: esp32-gateway
Architecture: all
XBSC-Group: Boards
XBSC-Subgroup: ESP32
Depends: esp32
Description: OLIMEX ESP32-GATEWAY

Package: esp32-generic
Architecture: all
XBSC-Group: Boards
XBSC-Subgroup: ESP32
Depends: esp32
Description: ESP32 Dev Module

Package: esp32thing
Architecture: all
XBSC-Group: Boards
XBSC-Subgroup: ESP32
Depends: esp32
Description: SparkFun ESP32 Thing

Package: esp32vn-iot-uno
Architecture: all
XBSC-Group: Boards
XBSC-Subgroup: ESP32
Depends: esp32
Description: ESP32vn IoT Uno

Package: esp32wrover
Architecture: all
XBSC-Group: Boards
XBSC-Subgroup: ESP32
Depends: esp32
Description: ESP32 Wrover Module

Package: espea32
Architecture: all
XBSC-Group: Boards
XBSC-Subgroup: ESP32
Depends: esp32
Description: ESPea32

Package: espectro32
Architecture: all
XBSC-Group: Boards
XBSC-Subgroup: ESP32
Depends: esp32
Description: ESPectro32

Package: espino32
Architecture: all
XBSC-Group: Boards
XBSC-Subgroup: ESP32
Depends: esp32
Description: ThaiEasyElec's ESPino32

Package: featheresp32
Architecture: all
XBSC-Group: Boards
XBSC-Subgroup: ESP32
Depends: esp32
Description: Adafruit ESP32 Feather

Package: firebeetle32
Architecture: all
XBSC-Group: Boards
XBSC-Subgroup: ESP32
Depends: esp32
Description: FireBeetle-ESP32

Package: heltec-wifi-kit-32
Architecture: all
XBSC-Group: Boards
XBSC-Subgroup: ESP32
Depends: esp32
Description: Heltec_WIFI_Kit_32

Package: heltec-wifi-lora-32
Architecture: all
XBSC-Group: Boards
XBSC-Subgroup: ESP32
Depends: esp32
Description: Heltec_WIFI_LoRa_32

Package: hornbill32dev
Architecture: all
XBSC-Group: Boards
XBSC-Subgroup: ESP32
Depends: esp32
Description: Hornbill ESP32 Dev

Package: hornbill32minima
Architecture: all
XBSC-Group: Boards
XBSC-Subgroup: ESP32
Depends: esp32
Description: Hornbill ESP32 Minima

Package: intorobot-fig
Architecture: all
XBSC-Group: Boards
XBSC-Subgroup: ESP32
Depends: esp32
Description: IntoRobot Fig

Package: lolin32
Architecture: all
XBSC-Group: Boards
XBSC-Subgroup: ESP32
Depends: esp32
Description: WEMOS LOLIN32

Package: m5stack-core-esp32
Architecture: all
XBSC-Group: Boards
XBSC-Subgroup: ESP32
Depends: esp32
Description: M5Stack-Core-ESP32

Package: m5stack-fire
Architecture: all
XBSC-Group: Boards
XBSC-Subgroup: ESP32
Depends: esp32
Description: M5Stack-FIRE

Package: mhetesp32devkit
Architecture: all
XBSC-Group: Boards
XBSC-Subgroup: ESP32
Depends: esp32
Description: MH ET LIVE ESP32DevKIT

Package: mhetesp32minikit
Architecture: all
XBSC-Group: Boards
XBSC-Subgroup: ESP32
Depends: esp32
Description: MH ET LIVE ESP32MiniKit

Package: nano32
Architecture: all
XBSC-Group: Boards
XBSC-Subgroup: ESP32
Depends: esp32
Description: Nano32

Package: nina-w10
Architecture: all
XBSC-Group: Boards
XBSC-Subgroup: ESP32
Depends: esp32
Description: u-blox NINA-W10 series (ESP32)

Package: node32s
Architecture: all
XBSC-Group: Boards
XBSC-Subgroup: ESP32
Depends: esp32
Description: Node32s

Package: nodemcu-32s
Architecture: all
XBSC-Group: Boards
XBSC-Subgroup: ESP32
Depends: esp32
Description: NodeMCU-32S

Package: odroid-esp32
Architecture: all
XBSC-Group: Boards
XBSC-Subgroup: ESP32
Depends: esp32
Description: ODROID ESP32

Package: onehorse32dev
Architecture: all
XBSC-Group: Boards
XBSC-Subgroup: ESP32
Depends: esp32
Description: Onehorse ESP32 Dev Module

Package: pico32
Architecture: all
XBSC-Group: Boards
XBSC-Subgroup: ESP32
Depends: esp32
Description: ESP32 Pico Kit

Package: pocket-32
Architecture: all
XBSC-Group: Boards
XBSC-Subgroup: ESP32
Depends: esp32
Description: Dongsen Tech Pocket 32

Package: quantum
Architecture: all
XBSC-Group: Boards
XBSC-Subgroup: ESP32
Depends: esp32
Description: Noduino Quantum

Package: ttgo-lora32-v1
Architecture: all
XBSC-Group: Boards
XBSC-Subgroup: ESP32
Depends: esp32
Description: TTGO LoRa32-OLED V1

Package: wemosbat
Architecture: all
XBSC-Group: Boards
XBSC-Subgroup: ESP32
Depends: esp32
Description: "WeMos" WiFi&Bluetooth Battery

Package: widora-air
Architecture: all
XBSC-Group: Boards
XBSC-Subgroup: ESP32
Depends: esp32
Description: Widora AIR

Package: wipy3
Architecture: all
XBSC-Group: Boards
XBSC-Subgroup: ESP32
Depends: esp32
Description: WiPy 3.0

